SOAPApp/src/conf/xml-resources/web-service-references/PublishBean/wsdl/localhost_8080/PublishBeanService/PublishBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="addAddressToCustomer" type="tns:addAddressToCustomer"/>

<xs:element name="addAddressToCustomerResponse" type="tns:addAddressToCustomerResponse"/>

<xs:element name="addCustomer" type="tns:addCustomer"/>

<xs:element name="addCustomerResponse" type="tns:addCustomerResponse"/>

<xs:element name="addSubscription" type="tns:addSubscription"/>

<xs:element name="addSubscriptionResponse" type="tns:addSubscriptionResponse"/>

<xs:element name="addSubscriptionsToCustomer" type="tns:addSubscriptionsToCustomer"/>

<xs:element name="addSubscriptionsToCustomerResponse" type="tns:addSubscriptionsToCustomerResponse"/>

<xs:element name="getAddressesByCity" type="tns:getAddressesByCity"/>

<xs:element name="getAddressesByCityResponse" type="tns:getAddressesByCityResponse"/>

<xs:element name="getAddressesByState" type="tns:getAddressesByState"/>

<xs:element name="getAddressesByStateResponse" type="tns:getAddressesByStateResponse"/>

<xs:element name="getAddressesByZip" type="tns:getAddressesByZip"/>

<xs:element name="getAddressesByZipResponse" type="tns:getAddressesByZipResponse"/>

<xs:element name="getAddressesOfCustomer" type="tns:getAddressesOfCustomer"/>

<xs:element name="getAddressesOfCustomerResponse" type="tns:getAddressesOfCustomerResponse"/>

<xs:element name="getAllCustomers" type="tns:getAllCustomers"/>

<xs:element name="getAllCustomersResponse" type="tns:getAllCustomersResponse"/>

<xs:element name="getCustomersByFirstName" type="tns:getCustomersByFirstName"/>

<xs:element name="getCustomersByFirstNameResponse" type="tns:getCustomersByFirstNameResponse"/>

<xs:element name="getCustomersByLastName" type="tns:getCustomersByLastName"/>

<xs:element name="getCustomersByLastNameResponse" type="tns:getCustomersByLastNameResponse"/>

<xs:element name="getCustomersBySubscription" type="tns:getCustomersBySubscription"/>

<xs:element name="getCustomersBySubscriptionResponse" type="tns:getCustomersBySubscriptionResponse"/>

<xs:element name="getSubscriptionsByTitle" type="tns:getSubscriptionsByTitle"/>

<xs:element name="getSubscriptionsByTitleResponse" type="tns:getSubscriptionsByTitleResponse"/>

<xs:element name="getSubscriptionsByType" type="tns:getSubscriptionsByType"/>

<xs:element name="getSubscriptionsByTypeResponse" type="tns:getSubscriptionsByTypeResponse"/>

<xs:element name="getSubscriptionsOfCustomer" type="tns:getSubscriptionsOfCustomer"/>

<xs:element name="getSubscriptionsOfCustomerResponse" type="tns:getSubscriptionsOfCustomerResponse"/>

<xs:element name="removeAddressFromCustomer" type="tns:removeAddressFromCustomer"/>

<xs:element name="removeAddressFromCustomerResponse" type="tns:removeAddressFromCustomerResponse"/>

<xs:element name="removeCustomer" type="tns:removeCustomer"/>

<xs:element name="removeCustomerResponse" type="tns:removeCustomerResponse"/>

<xs:element name="removeSubscription" type="tns:removeSubscription"/>

<xs:element name="removeSubscriptionResponse" type="tns:removeSubscriptionResponse"/>

<xs:element name="removeSubscriptionsToCustomer" type="tns:removeSubscriptionsToCustomer"/>

<xs:element name="removeSubscriptionsToCustomerResponse" type="tns:removeSubscriptionsToCustomerResponse"/>

<xs:element name="updateAddressToCustomer" type="tns:updateAddressToCustomer"/>

<xs:element name="updateAddressToCustomerResponse" type="tns:updateAddressToCustomerResponse"/>

<xs:element name="updateCustomer" type="tns:updateCustomer"/>

<xs:element name="updateCustomerResponse" type="tns:updateCustomerResponse"/>

<xs:element name="updateSubscription" type="tns:updateSubscription"/>

<xs:element name="updateSubscriptionResponse" type="tns:updateSubscriptionResponse"/>

<xs:complexType name="updateAddressToCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAddressToCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeSubscriptionsToCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSubscriptionsToCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAddressesOfCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddressesOfCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="addressId" type="xs:int" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="tns:customer" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="customerID" type="xs:int" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCustomers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCustomersResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomersByLastName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomersByLastNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSubscriptionsOfCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscriptionsOfCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:subscription" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscription">
<xs:sequence>
<xs:element name="subscriptionId" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAddressesByCity">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddressesByCityResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCustomersByFirstName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomersByFirstNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSubscription">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSubscriptionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSubscriptionsByTitle">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscriptionsByTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:subscription" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAddressToCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAddressToCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSubscriptionsByType">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubscriptionsByTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:subscription" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomersBySubscription">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomersBySubscriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddressesByState">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddressesByStateResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAddressFromCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAddressFromCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addSubscriptionsToCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSubscriptionsToCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAddressesByZip">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddressesByZipResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSubscription">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSubscriptionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateSubscription">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSubscriptionResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>