SOAPApp/src/conf/xml-resources/web-service-references/PublishBean/wsdl/localhost_8080/PublishBeanService/PublishBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="PublishBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/PublishBeanService/PublishBean?xsd=1"/>
</xsd:schema>
</types>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="removeCustomerResponse">
<part name="parameters" element="tns:removeCustomerResponse"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<message name="getCustomersByFirstName">
<part name="parameters" element="tns:getCustomersByFirstName"/>
</message>
<message name="getCustomersByFirstNameResponse">
<part name="parameters" element="tns:getCustomersByFirstNameResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="getCustomersByLastName">
<part name="parameters" element="tns:getCustomersByLastName"/>
</message>
<message name="getCustomersByLastNameResponse">
<part name="parameters" element="tns:getCustomersByLastNameResponse"/>
</message>
<message name="getCustomersBySubscription">
<part name="parameters" element="tns:getCustomersBySubscription"/>
</message>
<message name="getCustomersBySubscriptionResponse">
<part name="parameters" element="tns:getCustomersBySubscriptionResponse"/>
</message>
<message name="addAddressToCustomer">
<part name="parameters" element="tns:addAddressToCustomer"/>
</message>
<message name="addAddressToCustomerResponse">
<part name="parameters" element="tns:addAddressToCustomerResponse"/>
</message>
<message name="updateAddressToCustomer">
<part name="parameters" element="tns:updateAddressToCustomer"/>
</message>
<message name="updateAddressToCustomerResponse">
<part name="parameters" element="tns:updateAddressToCustomerResponse"/>
</message>
<message name="removeAddressFromCustomer">
<part name="parameters" element="tns:removeAddressFromCustomer"/>
</message>
<message name="removeAddressFromCustomerResponse">
<part name="parameters" element="tns:removeAddressFromCustomerResponse"/>
</message>
<message name="getAddressesOfCustomer">
<part name="parameters" element="tns:getAddressesOfCustomer"/>
</message>
<message name="getAddressesOfCustomerResponse">
<part name="parameters" element="tns:getAddressesOfCustomerResponse"/>
</message>
<message name="getAddressesByCity">
<part name="parameters" element="tns:getAddressesByCity"/>
</message>
<message name="getAddressesByCityResponse">
<part name="parameters" element="tns:getAddressesByCityResponse"/>
</message>
<message name="getAddressesByState">
<part name="parameters" element="tns:getAddressesByState"/>
</message>
<message name="getAddressesByStateResponse">
<part name="parameters" element="tns:getAddressesByStateResponse"/>
</message>
<message name="getAddressesByZip">
<part name="parameters" element="tns:getAddressesByZip"/>
</message>
<message name="getAddressesByZipResponse">
<part name="parameters" element="tns:getAddressesByZipResponse"/>
</message>
<message name="addSubscription">
<part name="parameters" element="tns:addSubscription"/>
</message>
<message name="addSubscriptionResponse">
<part name="parameters" element="tns:addSubscriptionResponse"/>
</message>
<message name="updateSubscription">
<part name="parameters" element="tns:updateSubscription"/>
</message>
<message name="updateSubscriptionResponse">
<part name="parameters" element="tns:updateSubscriptionResponse"/>
</message>
<message name="removeSubscription">
<part name="parameters" element="tns:removeSubscription"/>
</message>
<message name="removeSubscriptionResponse">
<part name="parameters" element="tns:removeSubscriptionResponse"/>
</message>
<message name="getSubscriptionsOfCustomer">
<part name="parameters" element="tns:getSubscriptionsOfCustomer"/>
</message>
<message name="getSubscriptionsOfCustomerResponse">
<part name="parameters" element="tns:getSubscriptionsOfCustomerResponse"/>
</message>
<message name="getSubscriptionsByType">
<part name="parameters" element="tns:getSubscriptionsByType"/>
</message>
<message name="getSubscriptionsByTypeResponse">
<part name="parameters" element="tns:getSubscriptionsByTypeResponse"/>
</message>
<message name="getSubscriptionsByTitle">
<part name="parameters" element="tns:getSubscriptionsByTitle"/>
</message>
<message name="getSubscriptionsByTitleResponse">
<part name="parameters" element="tns:getSubscriptionsByTitleResponse"/>
</message>
<message name="addSubscriptionsToCustomer">
<part name="parameters" element="tns:addSubscriptionsToCustomer"/>
</message>
<message name="addSubscriptionsToCustomerResponse">
<part name="parameters" element="tns:addSubscriptionsToCustomerResponse"/>
</message>
<message name="removeSubscriptionsToCustomer">
<part name="parameters" element="tns:removeSubscriptionsToCustomer"/>
</message>
<message name="removeSubscriptionsToCustomerResponse">
<part name="parameters" element="tns:removeSubscriptionsToCustomerResponse"/>
</message>
<portType name="PublishBean">
<operation name="updateCustomer">
<input wsam:Action="http://ejb/PublishBean/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://ejb/PublishBean/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://ejb/PublishBean/removeCustomerRequest" message="tns:removeCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeCustomerResponse" message="tns:removeCustomerResponse"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://ejb/PublishBean/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://ejb/PublishBean/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
</operation>
<operation name="getCustomersByFirstName">
<input wsam:Action="http://ejb/PublishBean/getCustomersByFirstNameRequest" message="tns:getCustomersByFirstName"/>
<output wsam:Action="http://ejb/PublishBean/getCustomersByFirstNameResponse" message="tns:getCustomersByFirstNameResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://ejb/PublishBean/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="getCustomersByLastName">
<input wsam:Action="http://ejb/PublishBean/getCustomersByLastNameRequest" message="tns:getCustomersByLastName"/>
<output wsam:Action="http://ejb/PublishBean/getCustomersByLastNameResponse" message="tns:getCustomersByLastNameResponse"/>
</operation>
<operation name="getCustomersBySubscription">
<input wsam:Action="http://ejb/PublishBean/getCustomersBySubscriptionRequest" message="tns:getCustomersBySubscription"/>
<output wsam:Action="http://ejb/PublishBean/getCustomersBySubscriptionResponse" message="tns:getCustomersBySubscriptionResponse"/>
</operation>
<operation name="addAddressToCustomer">
<input wsam:Action="http://ejb/PublishBean/addAddressToCustomerRequest" message="tns:addAddressToCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addAddressToCustomerResponse" message="tns:addAddressToCustomerResponse"/>
</operation>
<operation name="updateAddressToCustomer">
<input wsam:Action="http://ejb/PublishBean/updateAddressToCustomerRequest" message="tns:updateAddressToCustomer"/>
<output wsam:Action="http://ejb/PublishBean/updateAddressToCustomerResponse" message="tns:updateAddressToCustomerResponse"/>
</operation>
<operation name="removeAddressFromCustomer">
<input wsam:Action="http://ejb/PublishBean/removeAddressFromCustomerRequest" message="tns:removeAddressFromCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeAddressFromCustomerResponse" message="tns:removeAddressFromCustomerResponse"/>
</operation>
<operation name="getAddressesOfCustomer">
<input wsam:Action="http://ejb/PublishBean/getAddressesOfCustomerRequest" message="tns:getAddressesOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesOfCustomerResponse" message="tns:getAddressesOfCustomerResponse"/>
</operation>
<operation name="getAddressesByCity">
<input wsam:Action="http://ejb/PublishBean/getAddressesByCityRequest" message="tns:getAddressesByCity"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesByCityResponse" message="tns:getAddressesByCityResponse"/>
</operation>
<operation name="getAddressesByState">
<input wsam:Action="http://ejb/PublishBean/getAddressesByStateRequest" message="tns:getAddressesByState"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesByStateResponse" message="tns:getAddressesByStateResponse"/>
</operation>
<operation name="getAddressesByZip">
<input wsam:Action="http://ejb/PublishBean/getAddressesByZipRequest" message="tns:getAddressesByZip"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesByZipResponse" message="tns:getAddressesByZipResponse"/>
</operation>
<operation name="addSubscription">
<input wsam:Action="http://ejb/PublishBean/addSubscriptionRequest" message="tns:addSubscription"/>
<output wsam:Action="http://ejb/PublishBean/addSubscriptionResponse" message="tns:addSubscriptionResponse"/>
</operation>
<operation name="updateSubscription">
<input wsam:Action="http://ejb/PublishBean/updateSubscriptionRequest" message="tns:updateSubscription"/>
<output wsam:Action="http://ejb/PublishBean/updateSubscriptionResponse" message="tns:updateSubscriptionResponse"/>
</operation>
<operation name="removeSubscription">
<input wsam:Action="http://ejb/PublishBean/removeSubscriptionRequest" message="tns:removeSubscription"/>
<output wsam:Action="http://ejb/PublishBean/removeSubscriptionResponse" message="tns:removeSubscriptionResponse"/>
</operation>
<operation name="getSubscriptionsOfCustomer">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionsOfCustomerRequest" message="tns:getSubscriptionsOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionsOfCustomerResponse" message="tns:getSubscriptionsOfCustomerResponse"/>
</operation>
<operation name="getSubscriptionsByType">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionsByTypeRequest" message="tns:getSubscriptionsByType"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionsByTypeResponse" message="tns:getSubscriptionsByTypeResponse"/>
</operation>
<operation name="getSubscriptionsByTitle">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionsByTitleRequest" message="tns:getSubscriptionsByTitle"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionsByTitleResponse" message="tns:getSubscriptionsByTitleResponse"/>
</operation>
<operation name="addSubscriptionsToCustomer">
<input wsam:Action="http://ejb/PublishBean/addSubscriptionsToCustomerRequest" message="tns:addSubscriptionsToCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addSubscriptionsToCustomerResponse" message="tns:addSubscriptionsToCustomerResponse"/>
</operation>
<operation name="removeSubscriptionsToCustomer">
<input wsam:Action="http://ejb/PublishBean/removeSubscriptionsToCustomerRequest" message="tns:removeSubscriptionsToCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeSubscriptionsToCustomerResponse" message="tns:removeSubscriptionsToCustomerResponse"/>
</operation>
</portType>
<binding name="PublishBeanPortBinding" type="tns:PublishBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersByLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersBySubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAddressToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAddressToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAddressFromCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByZip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscriptionsToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscriptionsToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PublishBeanService">
<port name="PublishBeanPort" binding="tns:PublishBeanPortBinding">
<soap:address location="http://localhost:8080/PublishBeanService/PublishBean"/>
</port>
</service>
</definitions>